* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.error h1 {
    text-align: center;
    padding: 20px;
    font-size: 1.7em;
}

.error {
    text-align: center;
    font-size: 1.4em;
    padding-top: 0px;
}

/*
    NAVBAR
*/
#logo {
    font-size: 2em;
}

#burger-hidden {
    display: none;
}

#burger {
    cursor: pointer;
    margin-left: 16px;
}

#burger div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.login:hover {
    cursor: pointer;
}

.menu-container {
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;

}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > div {
    flex: 1 1 0;
    width: 32%;
    text-align: center;
}

#links {
    display: flex;
    justify-content: flex-end;
}

#links a {
    text-decoration: none;
    color: white;
    margin-right: 16px;
}

#links a:visited {
    text-decoration: none;
    color: white;
}

/*
    SIDENAV, A.K.A. TASK LIST SELECTOR
*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a, .sidenav span, .sidenav-error {
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.sidenav a, .sidenav-error {
    padding: 8px 8px 8px 32px;
}

.sidenav span {
    padding: 32px 0px 32px 32px;
}

.sidenav-error {
    font-size: 1em;
}

.sidenav a:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.sidenav a {
    color: #818181;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sidenav #btnCloseSideNav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/*
    LOGIN & REGISTER MODAL
*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: inherit;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 4px;
}

.modal-content .input-data {
    border: 1px solid grey;
    border-radius: 4px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.modal-buttons {
    text-align: right;
}

.modal-buttons input {
    border: none;
    padding: 14px 28px;
    color:white;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 4px;
}

.modal-buttons input:hover {
    cursor: pointer;

}

.modal-content #btnSubmitLogin {
    background-color: rgb(89, 218, 89);
}

.modal-content #btnCloseLogin {
    background-color: rgb(248, 94, 94);
}

/*
    TO-DO LIST
*/
#todolist-empty {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px 80px;
    justify-content: center;
}

#todolist-empty {
    background-image: url('assets/can_do_man.svg'), none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-origin: content-box;
}

#todolist-empty * {
    opacity: 1.0;
}

/*
    DESKTOP - BIG SCREEN
*/
@media only screen and (min-width: 768px) {
    body {
        display: flex;
        align-items: stretch;
    }

    .sidenav {
        z-index: 0;
        position: relative;
        min-width: 250px;
        max-width: 300px;
        top: 0;
        left: 0;
        transition: 0s;
    }

    #burger-hidden {
        display: block;
    }

    #burger {
        display: none;
    }

    #btnCloseSideNav {
        display: none;
    }

    .modal-content {
        width: 500px;
    }
}
